
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

<h3>ID: @ViewBag.Id</h3>
<h3>Firstname: @ViewBag.fName</h3>
<h3>Lastname: @ViewBag.lName</h3>
<h3>Age: @ViewBag.age</h3>
<h3>@ViewBag.fName whants to say: @ViewBag.message</h3>


